  <footer>
    <aside>
      <section>
         <header>Redes sociales</header>
         <ul class="social_fot">
          <li><a href="https://discord.gg/mdakQ9GB"><img src="img/discord.png" alt=""></a></li>
          <li><a href="https://www.facebook.com/profile.php?id=100090331650997"><img src="img/facebook.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/manuelgom3z22052003/"><img src="img/instagram.png" alt=""></a></li>
       </ul>
      </section>
      <section>
        <header>reportar algun bug del sitio web</header>
       </section>
    </aside>
    <div>Derechos reservado por la api de pexels</div>
  </footer> 
</body>
</html>