<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--  -->
    <div class="wrapper">
        <div class="editor-panel">
            <div class="filter">
                <label class="title">Filtros</label>
                <div class="options">
                    <button id="brightness" class="active">Brillo</button>
                    <button id="saturation">Saturación</button>
                    <button id="inversion">Inversión</button>
                    <button id="grayscale">Escala de grises</button>
                </div>
                <div class="slider">
                    <div class="filter-info">
                        <p class="name">Brillo</p>
                        <p class="value">100%</p>
                    </div>
                    <input type="range" value="100" min="0" max="200">
                </div>
            </div>
            <div class="rotate">
                <label class="title">Rotar & Voltear</label>
                <div class="options">
                    <button id="horizontal"><i class='bx bx-reflect-vertical'></i></button>
                    <button id="vertical"><i class='bx bx-reflect-horizontal'></i></button>
                    <button id="left"><i class="fa-solid fa-rotate-left"></i></button>
                    <button id="right"><i class="fa-solid fa-rotate-right"></i></button>
                </div>
            </div>
        </div>
        <div class="preview-img">
            <!-- AQUÍ SE DEBE COLOCAR LA IMAGEN POR DEFECTO, QUE CADA CUAL TENDRÁ QUE BUSCARSE LA SUYA PROPIA -->
            <img src="" alt="imagen previa">
        </div>
    </div>

    <!-- controles para seleccionar y establecer filtros -->
    <div class="controls">
        <button class="reset-filter">Restablecer Filtros</button>
        <div class="row">
            <input type="file"  class="file-input" accept="image/*" hidden>
            <input type="text"  class="file-input" placeholder="pega el url" hidden>
            <button class="choose-img">Seleccionar Imagen</button>
            <button class="save-img">Guardar Imagen</button>
        </div>
    </div>
</div>
</body>
</html>