<%- include('template/head')%>
   <div class="menuImg">
       <!-- menu principal -->
      <%- include('template/menu',{type:"index"});%>
      <section class="eslogan">
           <h1>Busca,Guarda  y Descarga</h1>
           <p>Es un sitio web donde puedes buscar algunas imagenes, descargar o generar un galeria con estas imagenes, todo el contendio multimedia se obtiene de la api de pexels, que es una plataforma de imagenes, por el momento este sitio web  esta en version de desarrollo.</p>
     </section>
   </div>
   <!-- informacion sobrem -->
   <div class="about">
      <!-- sobre mis redes sociales -->
      <section class="net">
        <h2>REDES SOCIALES</h2>
        <ul class="social">
          <li><a href="https://discord.gg/mdakQ9GB"><img src="img/discord.png" alt=""></a></li>
          <li><a href="https://www.facebook.com/profile.php?id=100090331650997"><img src="img/facebook.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/manuelgom3z22052003/"><img src="img/instagram.png" alt=""></a></li>
       </ul>
      </section>
      <!-- sobre mi carrera -->
      <section class="fot">
        <h2>OBJETIVO DEL DESARROLLO</h2>
        <p>Este sitio tiene el objetivo de desarrollo con  ambito academico, solo se busca implementar una api y poder aplicar  algunas funcionalidades que pueda tener, por lo cual  esta aplicacion web esta en version de prueba, falta algunos detalles como adapatarse a varias resoluciones  y aplicar alguna que otra funcionalidad :), por el cual el codigo fuente de esta plataforma se encuentra en el siguiente enlace de abajo.</p>
        <a class="free" href="https://github.com/MANGO2412/collage"><img width="76" height="auto" src="img/github.png" alt=""></a>
      </section>
   </div>
 </body>
</html>

