<%- include('template/head')%>
   <div class="menuImg">
       <!-- menu principal -->
      <%- include('template/menu',{type:"index"});%>
      <section class="eslogan">
           <h1>Busca, Edita y descarga</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, animi nemo magnam officia ipsum distinctio in minus tempore similique porro illum atque esse? Voluptates modi id dicta accusantium quibusdam architecto.</p>
     </section>
   </div>
   <!-- informacion sobrem -->
   <div class="about">
      <!-- sobre mis redes sociales -->
      <section>
        <h2>redes sociales</h2>
        <ul class="social">
          <li><a href=""><img src="img/discord.png" alt=""></a></li>
          <li><a href=""><img src="img/facebook.png" alt=""></a></li>
          <li><a href=""><img src="img/instagram.png" alt=""></a></li>
       </ul>
      </section>
      <!-- sobre mi carrera -->
      <section>
        <h2>Objectivo del desarrollo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolores ipsa, quam earum sunt deserunt blanditiis velit aliquam. Est dolorum cupiditate earum voluptate nulla. Voluptate consequuntur labore reiciendis vel, tenetur repellendus ipsa culpa ad et omnis. Numquam laboriosam assumenda corporis labore neque doloribus doloremque omnis soluta veritatis, necessitatibus tenetur voluptatem optio! Tempore aperiam ullam nesciunt qui assumenda nisi distinctio. Sequi ullam nisi assumenda harum est fugit, officia quasi recusandae hic deleniti error earum reiciendis quis laboriosam ut, odio corrupti mollitia ipsam. Odit, vero reiciendis sequi culpa sed, voluptas itaque corrupti corporis voluptatem repellat assumenda dolorem. Vel, repudiandae. Deleniti, voluptates cupiditate doloremque fugiat vitae sed corporis soluta velit magnam, autem quibusdam excepturi in est sint maiores commodi accusantium facilis veritatis. Ab quaerat error possimus doloremque!</p>

      </section>
   </div>
 </body>
</html>

