<%- include('template/head')%>
    <%- include('template/menu',{type:""})%>
    <div id="content-wrap">
        <% if(mess){ %>
            <h1><%=mess%></h1>
        <%}%>
        <form class="formulario log" action="/auth" method="post">
            <header>Iniciar sesion</header>
            <label for="correo">Escribe tu correo</label>
            <input class="inputs" type="mail" name="correo">
            <label for="">Escribe una contraseña</label>
            <input class="inputs" type="password" name="password">
            <input type="submit" name="iniciar sesion">
        </form>
    </div>
<%- include('template/footer')%>
