<%- include('template/head')%>
      <%- include('template/menu',{type:""})%>
      <div id="content-wrap">
        <form class="formulario  sing" action="/reg" method="post" enctype="multipart/form-data" >
          <header>Registro</header>
          <label for="">Ingresa tu nombre de usuario</label>
          <input class="inputs" type="text" name="username" >
          <label for="">Ingresa tu  correo</label>
          <input class="inputs" type="email" name="correo">
          <label for="">Ingresa una contraseña</label>
          <input class="inputs" type="password" name="password">
          <input type="submit" value="registrase">
        </form>
      </div>
<%- include('template/footer')%>
