<%- include('template/headUser')%>
 <h1>welcome <%= user%></h1>
 <div class="img">
    <form action="">
        <input type="search" placeholder="Escribe un tema...">
        <input type="submit" value="buscar">
    </form>
 </div>
 <div class="container">
    <!-- muestra las imagens -->
    <div class="media"></div>
 </div>
<%- include('template/footerUser')%>