<%- include('template/headUser')%>
  <%- include('template/menu',{type:"home"})%>
 <div class="img">
    <form action="">
        <input id="look" type="search" placeholder="Escribe un tema...">
        <input id="btn" type="submit" value="buscar">
    </form>
 </div>
 <div class="container">
    <!-- muestra las imagens -->
    <div class="load hid">
      <img src="img/cargando-loading-041.gif" alt="" srcset="">
    </div>
    <div class="media"></div>
 </div>
 <script type="module" src="javaScript/main.mjs"></script>
<%- include('template/footer')%>