*{
    padding: 0;
    margin: 0;
}


/*estilo del index  */
.colorMenu{
    background-color: #212121;
}
.menuImg{
    background-image:  url('../img/pexels-photo-1367192.jpeg');
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}

.eslogan{
    width: 50%;
    height: 50%;
    margin: 10px auto;
}

.eslogan h1{
    font-size: 34px;
}

.eslogan p{
    font-size: 20px;
    color: #757575;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(137, 137, 146), 0 0 0.2em rgb(191, 191, 204);
}

.menu{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.menu ul li a{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;

    font-family: 'Noto Serif', serif;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Tilt Prism', cursive;
}

.menu ul li a:hover{
    color: #FFCDD2;
    text-decoration: underline;
}

.head a{
    color: #F9F7F7;
    text-decoration: none;
    font-family: 'Tilt Prism', cursive;
    font-size: 34px;

}

/* contenido de la pagina */


/* formulario */
.formulario{
    margin: 30px auto;
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 23px;
    background-color: #9E9E9E;
}

.formulario header{
    text-align: center;
    font-size: 34px;
}
.formulario label{
    margin-top: 10px;
}

.inputs{
     height: 24px;
}

.inputs:focus{
   outline:1px solid #3F72AF;
}
.formulario [type="submit"]{
    margin-top: 10px;
    padding: 3px;
}



/* footer */
.about{
    width: 90%;
    margin: auto;
    height: auto;
}

.about section h2{
    text-align: center;
}


.social{
    display: flex;
    justify-content: space-around;
}

.social li{
    list-style: none;
}

.social li a img{
    width: 60px;
    height: auto;
}


.content-wrap{
    margin-bottom: 30px;
}


footer{
    width: 100%;
    height: 40vh;
    background-color:  #212121;
    position: relative;
    bottom: 0;
    left: 0;
    color: #F9F7F7;
}

footer aside{
    display: flex;
    justify-content: space-around;
    height: 190px;
}
footer aside section{
    padding: 10px;
}

