*{
    padding: 0;
    margin: 0;
}


/*estilo del index  */
.colorMenu{
    background-color: #212121;
}
.menuImg{
    background-image:  url('../img/pexels-robert-lozano-12631100.jpg');
    /* background-attachment: scroll; */

    background-size: cover;
    height: 90vh;
}

.eslogan{
    width: 50%;
    height: 50%;
    margin: 10px auto;
}

.eslogan h1{
    font-size: 34px;
    color: #FFFFFF;
}

.eslogan p{
    font-size: 25px;
    color: #757575;
}

.menu{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.menu ul li a{
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none;

    font-family: 'Noto Serif', serif;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Tilt Prism', cursive;
}

.menu ul li a:hover{
    color: #FFCDD2;
    text-decoration: underline;
}

.head a{
    color: #F9F7F7;
    text-decoration: none;
    font-family: 'Tilt Prism', cursive;
    font-size: 34px;

}

/* contenido de la pagina */


/* formulario */
.log{
    width: 450px;
    height: 300px;
}

.sing{
    width: 450px;
    height: 400px;
}


.formulario{
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border:  1px solid black;
}

.formulario header{
    text-align: center;
    font-size: 50px;
    height: 90px;
}
.formulario label{
    margin-top: 10px;
}

.inputs{
     height: 30px;
     border: none;
     border-bottom: 1px solid #212121;
     margin-bottom: 20px; 
}

.inputs:focus{
    outline: none;
    padding:5px;
}
.formulario [type="submit"]{
    margin-top: 20px;
    padding: 3px;
    color: #F9F7F7;
    background-color: #212121;
    border: none;
    padding: 10px;
}



/* footer */
.about{
    width: 90%;
    margin: auto;
    height: auto;
}

.about section h2{
    text-align: center;
}


.social{
    display: flex;
    justify-content: space-around;
}

.social li{
    list-style: none;
}

.social li a img{
    width: 60px;
    height: auto;
}


.content-wrap{
    margin-bottom: 300px;
}


footer{
    width: 100%;
    background-color:  #212121;
    color: #F9F7F7;
}

footer aside{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 30px;
}



